
#myInfoContent{
	margin:40px auto;
	width:1080px;
	height:960px;
	
	background-image: -webkit-linear-gradient(left,#FFFFFF -30%,#00C6FC 50%,#FFFFFF 180% );  
	background-image:-moz-linear-gradient(left,#FFFFFF -30%,#00C6FC 50%,#FFFFFF 180% );  
	background-image: -ms-linear-gradient(left,#FFFFFF -30%,#00C6FC 50%,#FFFFFF 180% );  
    background-image: linear-gradient(left,#FFFFFF -30%,#00C6FC 50%,#FFFFFF 180% );  
	
}

#top{
	
	text-align:left;
}
#top img{
	
	border:1px solid white;
	width:150px;
	height:150px;
	-webkit-border-radius:150px;
	-moz-border-radius:150px;
	border-radius:150px;
	
}
#myinfo ul{
	border:1px solid transparent;
	margin:10px 0px 10px 0px;
}
#myinfo li{
	font-family:"黑体";
	color:white;	
	border:1px solid  transparent;
	list-style:none;
	height:60px;
	width:90%;
	margin:10px 0px 10px 0px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;	
	color:#272822;
	background: white ;
}

#myinfo li span:nth-child(1){
	/*border:1px solid red;*/
	color:#272822;
	float:left;
	font-size:25px;
	line-height:60px;
	margin:0px 20px 0px 10px;
}
#myinfo li span:nth-child(2){
	/*border:1px solid red;*/
	color:#272822;
	line-height:30px;
	height:60px;
	display:block;
	overflow:hidden;
}



