body{
	text-align:center;
	background-image: -webkit-linear-gradient(left,#FFFFFF -30%,#00C6FC 50%,#FFFFFF 180% );  
	background-image:-moz-linear-gradient(left,#FFFFFF -30%,#00C6FC 50%,#FFFFFF 180% );  
	background-image: -ms-linear-gradient(left,#FFFFFF -30%,#00C6FC 50%,#FFFFFF 180% );  
    background-image: linear-gradient(left,#FFFFFF -30%,#00C6FC 50%,#FFFFFF 180% );  
	
	cursor:pointer  ;
	}