<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="css/dairydetails.css" />
	</head>
	<body>
		<div class="content">
			<div class='head'>
				<P>日志</P>
				<p><a href="#/dairy" >返回日志列表</a></p>
			</div>
		
			<div class='title'>
			<p>{{dairyDetails.Title}}</p>	
			<p>发布于{{dairyDetails.UpdateDate}} 阅读({{dairyDetails.Readers}})</p>
			</div>
		
			<div class='operate'>
				<span class='like'></span><a href="javascript:void(0)" ng-click='Ilikeit(dairyDetails.id)'>赞({{dairyDetails.Likers}})</a>|
				<span class='commentcount'></span><a href="javascript:void(0)"  ng-click="goto('docomment')">评论({{dairyDetails.CommentCount}})</a>|
				<span class='share'></span><a href="javascript:void(0)"  ng-click="share()">分享</a>|
				<span class='copyurl'></span><a href="javascript:void(0)" ng-click="copyurl()">复制地址</a>|
				<span><a href="javascript:void(0)" ng-click='PreviousDairy()' ng-class="{'disabled':data.pre==false}">上一篇  </a></span>| 
				<span><a href="javascript:void(0)" ng-click='NextDairy()'ng-class="{'disabled':data.next==false}">下一篇</a></span>
			</div>
		
			<div class='dairycontent'><p>{{dairyDetails.Content}}</p></div>
		
			<div class='operate'>
				<span class='like'></span><a href="javascript:void(0)" ng-click='Ilikeit(dairyDetails.id)'>赞({{dairyDetails.Likers}})</a>|
				<span class='commentcount'></span><a href="javascript:void(0)"  ng-click="goto('docomment')">评论({{dairyDetails.CommentCount}})</a>|
				<span class='share'></span><a href="javascript:void(0)"  ng-click="share()">分享</a>|
				<span class='copyurl'></span><a href="javascript:void(0)" ng-click="copyurl()">复制地址</a>|
				<span><a href="javascript:void(0)" ng-click='PreviousDairy()' ng-class="{'disabled':data.pre==false}">上一篇  </a></span>| 
				<span><a href="javascript:void(0)" ng-click='NextDairy()'ng-class="{'disabled':data.next==false}">下一篇</a></span>
			</div>
			<hr>
			<!--<div class="comment">
				<div>
					<p><span><img src="images/1.jpg"></span><span>王者</span></p>
				</div>
				
				<div>
					<p>
						<span>1楼</span>
						<span>评论时间:2015-01-30 00:24:53</span> 
					</p>
					<p>你是谁的男神呢。你是谁的男神呢你是谁的男神呢你是谁的男神呢你是谁的男神呢</p>
					<p>
						<input type="text" placeholder="我也说一句">
						<input type="button" value="发表"/>
					</p>
				</div>
				<div style="clear: both;"></div>
			</div>-->
			
			<div class=comment ng-repeat='da in dairyComment'>
				<div>
					<p><span><img src={{da.headPic==""?"images/headpic/0.jpg":"images/headpic/"+da.headPic}}></span><span>{{da.nicky}}</span></p>
				</div>
				<div >
					<p>
						<span>{{$index+1}}楼</span>
						<span>评论时间:{{da.time}}</span> 
					</p>
					<p>{{da.content}}</p>
					<p class='commentlist' ng-repeat='d in da.reply'><span>{{d.nicky}} </span> 说 : <span>{{d.content}}</span><br><span>{{d.time}}</span></p>
					<p>
						<input type="text" ng-model='mycomment' placeholder="我也说一句">
						<input type="button" ng-click='reply(mycomment,da);mycomment=null' ng-show='mycomment' value="发表"/>
					</p>
				</div>
				<div style="clear: both;"></div>
				<hr>
			</div>
			
			
			<div class='docomment' name='docomment' id="docomment">
				<p>发表评论</p>
				<p>
					<img src="images/headpic/1.jpg" />
					<textarea ng-model='newcomment'></textarea>
				</p>
				<p>
					<input type="button" ng-click='comment(newcomment);newcomment=null' ng-show='newcomment' value="发表"/>
				</p>
			</div>
				
		</div>
		
		
	</body>
</html>
