<!DOCTYPE html>

<html ng-app="lxdApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.1, maximum-scale=1.0, user-scalable=no" /> 
		<link rel="stylesheet" href="css/lixiaodong.css" type="text/css"/>
		
		<script src="vendor/jquery/jquery-1.10.2.min.js" ></script>
		<script src="vendor/angular/angular.js" ></script>
		<script src="vendor/angular/angular-route.min.js"></script>

		<script src="controller/lixiaodongCtrl.js"></script>
		<script type="text/javascript" src="app/util.js"></script>
		<script src="route/route.js"></script>
	</head>

	
	<body>
		<div id="menu" ng-controller="lixiaodongCtrl" >
			<ul >
				<li ng-click="select(0)" ng-class="{selected:CurIndex==0}">
					日志
				</li>
				<li ng-class="{selected:CurIndex==1}">
					相册
				</li>
				<li ng-class="{selected:CurIndex==2}">
					留言
				</li>
				<li  ng-click="select(3)" ng-class="{selected:CurIndex==3}">
					关于
				</li>
			</ul>
		</div>


		<div ng-view style="border:1px solid transparent;">

		</div>

	</body>




	
	<script type="text/javascript" src="services/httpService.js"></script>
    <script type="text/javascript" src="services/aboutmeService.js"></script>   
    <script type="text/javascript" src="services/dairyService.js"></script>   
     
    <script src="controller/aboutmeCtrl.js"></script>   
    <script src="controller/dairyCtrl.js"></script>
    <script src="controller/dairydetailsCtrl.js"></script>
    
</html>